@model MeowoofStore.ViewModels.LoginViewModel


@{
    ViewData["Title"] = "MeowWoof-登入";
}

<h1>會員登入</h1>

<h4>請輸入帳號密碼</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control js-email" autocomplete="current-username" />
       
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control js-password" autocomplete="current-password" type="password" />
                @if (ViewData.ModelState.ErrorCount > 1)
                {
                <span asp-validation-for="Password" class="text-danger"></span>
                }
                else
                {
                  <span asp-validation-for="Email" class="text-danger"></span>
                  <span asp-validation-for="Password" class="text-danger"></span>
                }
            </div>
            <br />

            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" value="登入" class="btn btn-primary" />
                <button type="button" class="btn btn-success js-adminDemo">Admin</button>
                <button type="button" class="btn btn-secondary js-customerDemo">Customer</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(".js-adminDemo").on("click",function(){
            $(".js-email").val("admin@admin.com");
            $(".js-password").val("@@Admin1234");
        });
        $(".js-customerDemo").on("click", function () {
            $(".js-email").val("customer@customer.com");
            $(".js-password").val("@@Customer1234");
        });
    </script>
}
