@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MeoWoof-沒有任何商品頁";
}
<br />
<br />
<br />
<div class="text-center">
    <h1>現在沒有任何商品唷</h1>
</div>