@model MeowoofStore.ViewModels.AddToCartViewModel

@{
    ViewData["Title"] = "AddToCart";
}

<h1>加入購物車頁面</h1>


<hr />

<div class="row">
    <div class="">
        <form asp-action="AddToCart" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.id" class="js-itemId" />
            <div class="mb-3 row form-group">
                <label asp-for="Name" class="col-sm-3 col-form-label control-label"></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Html.DisplayFor(n=>n.Name)">
                </div>
            </div>
            <div class="mb-3 row form-group">
                <label asp-for="price" class="control-label col-sm-3 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="@Html.DisplayFor(n=>n.price)">
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Quantity" class="control-label col-sm-3 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Quantity" class="form-control numberOnly js-itemQuantity" />
                    @*<input type="password" class="form-control" id="inputPassword">*@
                </div>
            </div>  
                <input asp-for="Name" type="hidden" />@*驗證錯誤返回顯示用*@
                <input asp-for="price" type="hidden" />
        

            <br />
            <div class="form-group">
                @Html.AntiForgeryToken()
                <input hidden="hidden" type="submit" id="submitBtn" />
                <button type="button" class="btn btn-primary" onclick="checkStock()">確認</button>
            </div>
        </form>
    </div>
</div>
<br />
<hr />
<div>
    <a asp-action="List">返回商品列表</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(".numberOnly").on("keypress keyup blur", function (event) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

            function checkStock() {
                var itemId = $('.js-itemId').val();
                var itemQuantity = $('.js-itemQuantity').val();
                var url = '/api/check-stock?itemId=' + itemId + '&quantity=' + itemQuantity;

                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (response) {
                        if (response.isAvailable) {
                            // 如果庫存足夠，觸發提交按鈕的 click 事件
                            $('#submitBtn').click();
                        } else {
                            // 如果庫存不足，顯示提示
                            alert('庫存不足');
                        }
                    },
                    error: function () {
                        // 處理錯誤
                        alert('檢查庫存時發生錯誤');
                    }
                });
            }

    </script>
}
