@using System.Security.Claims;

@{
    ViewData["Title"] = "MeoWoof-購物車";
}

<h1>我的購物車</h1>
@{
    int showPrice = 0;
    int showItemCount = 0;
}

    <table class="table" id="cartTable">
    <thead>
        <tr>
                <th>
                    品名
                </th>
                <th>
                    價格
                </th>
                <th>
                    數量
                </th>
                <th>
                    小計
                </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

    <div class="fixed-bottom">
        <div class="card">
            <h5 class="card-header">確認付款金額</h5>
            <div class="card-body">
                <h5 class="card-title" id="js-totalItem"></h5>
                <p class="card-text" id="js-totalSum"></p>

                <div class="d-grid gap-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" id="js-checkstocks">
                        去買單
                    </button>
                </div>
            </div>
        </div>
    </div>


<br />
<hr />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">請填寫收件人資料</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Form-->
            <form asp-action="CartView" method="post">
            <div class="modal-body">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">收件人</label>
                        <input class="form-control" name="receiverName" id="js-receiverName" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">信箱</label>
                        <input type="email" class="form-control" id="js-email" aria-describedby="emailHelp" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">收件地址</label>
                        <input class="form-control" id="js-address" name="address" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="js-fillUserInfo">
                        <label class="form-check-label" for="exampleCheck1">代入使用者資訊</label> 
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">確認訂購</button>
            </div>

            </form>
        </div>
    </div>
</div>
         
 @section scripts{
    <script>
        $(document).ready(function () {
            var dataTable=$("#cartTable").DataTable({
                "paging": false, // 禁用分頁功能
                "info": false, // 禁用左下顯示幾筆功能
                 "lengthMenu":false,
                ajax: {
                    url: "/api/Shopping/GetCartData/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "product.name"
                    },
                    {
                        data: "price"
                    },
                    {
                        data: "quantity"    
                    },
                    {
                        data: "totalPrice",
                    },
                    {
                        data: "id",
                        render: function (data, type, row) {
                            return "<a class='btn btn-link'><img src='/images/icon/trash_can_icon.png' width='22' product-id='" + data + "' class='js-delete' /></a>";
                        }
                    }],
                language: {
                    search: "搜尋",
                    emptyTable: "無資料"
                },
                initComplete: function () {
                    var totalPriceSum = 0;

   
                    dataTable.rows().every(function () {
                        var data = this.data();
                        totalPriceSum += data.totalPrice;
                    });

                    $("#js-totalSum").text("總金額 " + totalPriceSum + " 元");
                    $("#js-totalItem").text("共 " + dataTable.data().length + " 件商品");

                }

            });

            $("#cartTable").on("click", " .js-delete", function () {
                var deleteButton = $(this);
                if (confirm("確定要刪除此商品嗎??")) {
                    console.log("gggg");
                    $.ajax({
                        url: "/api/Shopping/DeleteProductsById/" + $(this).attr("product-id"),
                        method: "Delete",
                        success: function () {
                            console.log("Success Deleted");
                            dataTable.row(deleteButton.parents("tr")).remove().draw();
                            var totalPriceSum = 0;
                            dataTable.rows().every(function () {
                                var data = this.data();
                                totalPriceSum += data.totalPrice;
                            });
                            $("#js-totalSum").text("總金額 " + totalPriceSum + " 元");
                            $("#js-totalItem").text("共 " + dataTable.data().length + " 件商品");
                        }
                    });
                }
            });
        });


        $("#js-fillUserInfo").on("click",()=>{
            $.ajax({
                    url: "/api/Account/",
                    success: function(data) {
                        $("#js-receiverName").val(data.memberName);
                        $("#js-email").val(data.email);
                        $("#js-address").val(data.address);
                    },
            error: function(xhr, textStatus, errorThrown) {
                console.log('發生錯誤：', textStatus,errorThrown);
                }
            });
        });

  
    </script>
}