@{
    ViewData["Title"] = "商品清單";
}

<h1>商品清單</h1>

<p>
    <a asp-action="CartView" class="btn btn-primary">查看我的購物車</a>
</p>
<table class="table" id="shoppingList">
    <thead>
        <tr>
            <th>
                圖片
            </th>
            <th>
                品名
            </th>
            <th>
                描述
            </th>
            <th>
                價格
            </th>
            <th>
                庫存
            </th>
            <th>
                加入購物車
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">請確認商品數量</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Form-->
            <div class="modal-body">
                <input type="hidden" name="id" value="" class="js-itemId" />
                <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" >品名</label>
                        <input class="form-control" name="receiverName" id="js-productName" required readonly>
                </div>
                <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" >價格</label>
                        <input type="email" class="form-control" id="js-price" aria-describedby="emailHelp" name="email" required readonly>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">數量</label>
                    <input class="form-control" id="js-quantity" name="address" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button class="btn btn-primary js-submit">確認</button>
                <button hidden="hidden" type="button" id="submitBtn"></button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function(){
            $("#shoppingList").DataTable({
                ajax:{
                    url:"/api/Shopping/",
                    dataSrc:""
                },
                columns:[
                    {
                        data: "imageString",
                        render:function(data){
                            return "<img src='/Images/ProductImages/" + data + "' width='100' height ='100'/>"
                        }
                    },
                    {
                        data:"name"
                    },
                    {
                        data: "description",
                    },
                    {
                        data: "price",
                    },
                    {
                        data: "stock",
                    },
                    {
                        data:"id",
                        render:function(data){
                            return "<button type='button' class='btn btn-info js-loadCart'' data-bs-toggle='modal' data-bs-target='#exampleModal' product-id='" + data + "'>加入購物車</button>";
                        }
                    }
                ],
                language: {
                    search: "搜尋",
                    emptyTable: "無資料",
                    info: "顯示 _START_ 至 _END_ 筆資料，共 _TOTAL_ 筆",
                    "infoFiltered": " ，已由 _MAX_ 筆資料中過濾",
                    lengthMenu: "顯示 _MENU_ 筆資料",
                    paginate: {
                        "first": "First",
                        "last": "Last",
                        "next": "下一頁",
                        "previous": "上一頁"
                    }
                }
            });
            var productId;
            $("#shoppingList").on("click", ".js-loadCart",function() {
                var addCartButton = $(this);
                productId = addCartButton.attr("product-id");
                console.log("ajax");
                $.ajax({
                    url: "/api/Shopping/LoadCartItem/" + productId,
                    method: "Get",
                    success: function (data) {
                        console.log("SuckSex");
                        console.log(data);
                        $("#js-productName").val(data.name);
                        $("#js-price").val(data.price);
                        $("#js-quantity").val(data.quantity);

                    },
                    error: function () {
                        alert('讀取購物車商品錯誤');
                    }
                })
            })

           $(".js-submit").on("click", function () {
                $(".js-submit").prop('disabled', true);
                var itemId = productId;
                        var itemQuantity = $("#js-quantity").val();
                        var url = '/api/check-stock?itemId=' + itemId + '&quantity=' + itemQuantity;

                $.ajax({
                            url: url,
                            method: 'GET',
                            success: function (response) {
                                if (response.isAvailable) {
                                    // 如果庫存足夠，觸發提交按鈕的 click 事件
                                console.log("庫存足夠");
                                    $('#submitBtn').click();
                                } else {
                                    // 如果庫存不足，顯示提示
                                    alert('庫存不足');
                                }
                            },
                            error: function () {
                                // 處理錯誤
                                alert('檢查庫存時發生錯誤');
                        },
                        complete: function () {
                            // Re-enable the submit button
                            $(".js-submit").prop('disabled', false);
                        }
                 });
             })
                        var clickCount=0;
                    $('#submitBtn').on("click",function(){
                        //避免網路延遲重複送出多次非同步請求  
                        $('#submitBtn').prop('disabled', true);
                        const data = {
                        id: productId,
                            name: $("#js-productName").val(),
                            price: $("#js-price").val(),
                            quantity: $("#js-quantity").val()
                        };
                        console.log("Request1");
                        clickCount=clickCount+1;
                        $.ajax({
                            method: "POST",
                            url: "/api/Shopping/AddToCart/",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            success: function (data, textStatus, xhr) {
                                if (xhr.status === 200) {
                                    if (data === "SuccessAddToCart") {
                                        console.log("SuccessAddToCart"+clickCount);
                                        $(".btn-close").click();
                                    } else{
                                        console.log("加入購物車失敗");
                                    }
                                } else {
                                    // Handle other HTTP status codes
                                    console.log("加入購物車失敗");
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                // Handle error
                                console.log("加入購物車失敗");
                            },
                            complete: function () {
                                // Re-enable the submit button
                                $('#submitBtn').prop('disabled', false);
                            }
                        });

                    })
                  
            });
            
    </script>
}
