@model string

@{
    ViewData["Title"] = "MeowWoof-產品管理";
}
<br />
<br />
<br />
<div class="text-center">
    <h1>沒有任何訂單</h1>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="d-grid gap-2 col-2 mx-auto">
    <a asp-controller="Products" asp-action="Index" class="btn btn-primary" type="button">返回產品管理</a>
</div>
