@model string

@{
}
<br />
<br />
<br />
<div class="text-center">
    <h1>@Model</h1>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="d-grid gap-2 col-2 mx-auto">
    <a asp-controller="Shopping" asp-action="List" class="btn btn-primary" type="button">馬上去購物</a>
</div>